/* zim sum style.css */ 

p:not(:last-child) {
    margin-block-end: 1em;
}

/* borrowed from https://github.com/jdan/98.css/blob/main/style.css */

:root {

/* Color */
  --text-color: #222222;
  --surface: #c0c0c0;
  --button-highlight: #ffffff;
  --button-face: #dfdfdf;
  --button-shadow: #808080;
  --window-frame: #0a0a0a;
  --dialog-blue: #000080;
  --dialog-blue-light: #1084d0;
  --dialog-gray: #808080;
  --dialog-gray-light: #b5b5b5;
  --link-blue: #0000ff;

/* Borders */

 --border-width: 1px;
--border-raised-outer: inset -1px -1px var(--window-frame),
    inset 1px 1px var(--button-highlight);
  --border-raised-inner: inset -2px -2px var(--button-shadow),
    inset 2px 2px var(--button-face);
  --border-sunken-outer: inset -1px -1px var(--button-highlight),
    inset 1px 1px var(--window-frame);
  --border-sunken-inner: inset -2px -2px var(--button-face),
    inset 2px 2px var(--button-shadow);

}

/* DOOR OR ENTRY PAGE */ 

.entry-background {
    background-color: #C0C0C0;
    margin: 0;
    width: 100vw;
    height: 100vh;

	display: flex;
    justify-content: center;
    align-items: center;
}

.table {
  font-family: "Pixelated MS Sans Serif";
  height: 200;
  width: 400;
  border-collapse: separate;
  border-spacing: 0;
  background: var(--surface);
  box-shadow:
    var(--border-raised-outer),
    var(--border-raised-inner);
}

.table th {
  padding: 20px 20px;
  background: var(--button-face);

  box-shadow:
    var(--border-raised-outer),
    var(--border-raised-inner);
}

.table a {
    color: #0000cc;
}

.table a:hover {
    color: #1a73e8;
}

.table a:active {
    color: #0000cc;
}

/* MAIN PAGE */
/* title header and logo design */ 

    .site-header { 
        position: absolute; 
        top: 10px; 
        left: 15px; 
        width: 98%; 
        display: flex; 
        justify-content: space-between; 
        align-items: flex-start; 
        margin: 2px; 
		padding: 20px; 
    } 

    .site-header img { 
        display: block; 
        height: auto; 
			
    } 

    .logo-left { 
  	   max-width: 20vw;
       height: auto;

    } 

/* body and widget formatting */ 

.page-layout {
    display: grid;
    grid-template-columns: 150px minmax (0,1fr);
    gap: 40px;
    width: calc(100% - 200px);
    max-width: 1200px;
    margin: 100px 50px 4rem;
    align-items: start;

}

html, body {
    margin: 0;
    min-height: 100%;
    background-color: white;
}

body {
    text-align: center;
    font-size: 2rem;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, "Helvetica" Arial, sans-serif;
    color: black;
    padding: 30px;
    box-sizing: border-box;
}

.widget {
    border: 1px solid #ccc;
  	border-radius: 6px;
  	box-shadow: 0 5px 12px rgba(0,0,0,0.15);
  	font-family: sans-serif;
  	max-width: 1200px;
	margin: 0 auto;
    display: flex;
    padding: 75px;
	}
    

/* footer with year */ 

	.site-footer {
		font-size: 0.5rem;
		position: absolute; 
        bottom: 10px; 
        right: 15px; 
	
	}

/* tab design and controls */ 

.tabs {
    margin-top: 175px;
    display: grid;
    grid-template-columns: 150px minmax(0, 1fr); 
    column-gap: 40px; 
    width: 100%;
}

.tabs input[type="radio"] {
    display: none;
}

.tab-buttons {
    grid-column:1;
    grid-row: 1;
    display: flex; 
    flex-direction: column;
    width: 150px;

}

.tab-buttons label {
    background-image: url("images/file_closed.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 70px;
    box-sizing: border-box;
    padding: 3px 6px;
    margin: 8px 0;
    color: black;
    border: none;
    border-radius: 0;
    cursor: pointer;
    transition: background-image 0.2s ease;
    text-align: center;
}

.tab-buttons label:hover { 
	background-image: url("images/file_open.png");
}

/* active tab */ 
    
    #tab1:checked ~ .tab-buttons label[for="tab1"], 
    #tab2:checked ~ .tab-buttons label[for="tab2"], 
    #tab3:checked ~ .tab-buttons label[for="tab3"], 
    #tab4:checked ~ .tab-buttons label[for="tab4"] { 
        background-image: url("images/file_folder.png");
    
}

/* inside the tab contents */

    .tab-content-1, 
    .tab-content-2, 
    .tab-content-3, 
    .tab-content-4 { 
        display: none; }

    #tab1:checked ~ .widget .tab-content-1 { 
        display: block; } 
    #tab2:checked ~ .widget .tab-content-2 { 
        display: block; } 
    #tab3:checked ~ .widget .tab-content-3 { 
        display: block; } 
    #tab4:checked ~ .widget .tab-content-4 { 
        display: block; 

}
