/* zim sum style.css */ 

/* DOOR OR ENTRY PAGE */ 

    .entry-background {
        background-color: #C0C0C0;
		position: fixed;
  		top: 0;
  		left: 0;
  		width: 100vw;       
  		height: 100vh;      
  		z-index: -1; 

    }

	.table {
   		display: table;
    	box-sizing: border-box;
    	border-collapse: separate;
    	text-indent: initial;
    	unicode-bidi: isolate;
    	line-height: normal;
    	font-weight: normal;
    	font-size: medium;
    	font-style: normal;
    	color: -internal-quirk-inherit;
    	text-align: start;
    	border-spacing: 2px;
    	white-space: normal;
    	font-variant: normal;
}

    .door {
        border: 1px solid #ccc;
  	    border-radius: 6px;
  	    box-shadow: 0 5px 12px rgba(0,0,0,0.15);
  	    font-family: sans-serif;
  	    max-width: 1200px;
	    margin: 0 auto;
        display: flex;
        padding: 75px;
        background-color: #C0C0C0;
        place-items: center;
        text-decoration: underlne;
	}   

    .door:hover {
          background-color: #C0C0C0;
    }

    .door a:visited { 
        color: #0000cc; 
    } 

    .door a:hover { 
    color: #0000cc; 

    } 

    .door a:active { 
        color: #0000cc; 
    }

/* MAIN PAGE */
/* title header and logo design */ 

    .site-header { 
        position: absolute; 
        top: 10px; 
        left: 15px; 
        right: 15px; 
        width: 98%; 
        display: flex; 
        justify-content: space-between; 
        align-items: flex-start; 
        margin: 2px; 
		padding: 20px; 
    } 

    .site-header img { 
        display: block; 
        height: auto; 
			
    } 

    .logo-left { 
  	   max-width: 20vw;
       height: auto;

    } 

/* body */

	html, body { 
  		margin: 0;
  		padding: 0;
	} 

	}

	body { 
    	font-size: 1rem; 
    	font-family: Helvetica;
    	color: black; 
    	padding: 30px; 
    	box-sizing: border-box; 

	}

/* MAIN WEBSITE PAGE */

/* body and widget formatting */ 

	p:not(:last-child) {
    	margin-block-end: 1em;
	}

	.widget {
    	width: 80vw;
    	max-width: 600px;
    	padding: 1rem;
    	margin: 2rem auto;
    	border-radius: 1rem;
    	background-color: #fff;
    	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.025);
	}

/* tab layout and design */ 

	/* active tab */ 
    
    #tab1:checked ~ .tab-buttons label[for="tab1"], 
    #tab2:checked ~ .tab-buttons label[for="tab2"], 
    #tab3:checked ~ .tab-buttons label[for="tab3"], 
    #tab4:checked ~ .tab-buttons label[for="tab4"] { 
        background-color: #333; 
        color: white; border-color: #333; 
    
}

/* inside the tab contents */

    .tab-content-1, 
    .tab-content-2, 
    .tab-content-3, 
    .tab-content-4 { 
        display: none; }

    #tab1:checked ~ .widget .tab-content-1 { 
        display: block; } 
    #tab2:checked ~ .widget .tab-content-2 { 
        display: block; } 
    #tab3:checked ~ .widget .tab-content-3 { 
        display: block; } 
    #tab4:checked ~ .widget .tab-content-4 { 
        display: block; 

}
